body, table.body, h1, h2, h3, h4, h5, h6, p, td {
	line-height: 1.4;
}

body, table.body, p, td { line-height: 19px; }

p.lead, p.lede, p.leed {
	line-height: 24px;
	margin-bottom: 15px;
}

h1, h2, h3 {
	line-height: 1.2;
	margin-bottom: 10px;
}

h4 {
	line-height: 1.2;
	margin-bottom: 10px;
}

h1 {font-size: 40px;}
h2 {font-size: 32px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 14px;}

/* Layout -------- */

.header {
	border-bottom: solid 1px #ccc;
}

/* Presentational -------- */

.text-serif {
	font-family: Georgia, Times, "Times New Roman",	serif;
}
.text-italic {
	font-style: italic;
}
.text-muted {
	color: #888;
}

small, .text-small {
	font-size:12px;
	line-height: 1.2;
}


/* Blocks --------- */

.panel-stage {
	color:#fff;
	line-height: 1.2;
	border: 0 none;
}
.panel-stage-2 {
	background: #f7c841;
}
.panel-stage-3 {
	background: #f07100;
}
.panel-stage-4 {
	background: #c81713;
}
.text-stage-num {
	font-size:70px;
}
.quote {
	border-left: solid 3px #a6d146;
	padding-left:10px !important;
	padding-bottom: 0!important;
}
.list-item {
	margin-bottom: 10px;
}
.list-item-bullet {
	width:25px!important;
}
/*
table.facebook td {
	background: #3b5998;
	border-color: #2d4473;
}

table.facebook:hover td {
	background: #2d4473 !important;
}

table.twitter td {
	background: #00acee;
	border-color: #0087bb;
}

table.twitter:hover td {
	background: #0087bb !important;
}

table.google-plus td {
	background-color: #DB4A39;
	border-color: #CC0000;
}

table.google-plus:hover td {
	background: #CC0000 !important;
}

.callout .wrapper {
	padding-bottom: 20px;
}

.callout .panel {
	background: #ECF8FF;
	border-color: #b9e5ff;
}



.footer .wrapper {
	background: #ebebeb;
}

.footer h5 {
	padding-bottom: 10px;
}

table.columns .text-pad {
	padding-left: 10px;
	padding-right: 10px;
}

table.columns .left-text-pad {
	padding-left: 10px;
}

table.columns .right-text-pad {
	padding-right: 10px;
}

@media only screen and (max-width: 600px) {

	table[class="body"] .right-text-pad {
		padding-left: 10px !important;
	}

	table[class="body"] .left-text-pad {
		padding-right: 10px !important;
	}
}
*/