/* Overrides --------- */

body, table.body, h1, h2, h3, h4, h5, h6, p, td {
	line-height: 1.4;
}

body, table.body, p, td { line-height: 19px; }

p.lead, p.lede, p.leed {
	line-height: 24px;
	margin-bottom: 15px;
}

h1, h2, h3 {
	line-height: 1.2;
	margin-bottom: 10px;
}

h4, h5 {
	line-height: 1.2;
	margin-bottom: 10px;
}

h1 {font-size: 40px;}
h2 {font-size: 32px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 18px;}
h6 {font-size: 14px;}


a {
	color: #628a00;
}

a:hover {
	color: #a6d146 !important;
}

a:active {
	color: #a6d146 !important;
}

a:visited {
	color: #628a00 !important;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #628a00;
}

h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active {
	color: #628a00 !important;
}

h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
	color: #628a00 !important;
}


/* Layout -------- */

.header {
	border-bottom: solid 1px #ccc;
}

/* Presentational -------- */

.text-serif {
	font-family: Georgia, Times, "Times New Roman",	serif;
}
.text-italic {
	font-style: italic;
}
.text-muted {
	color: #777;
}

small, .text-small {
	font-size:12px;
	line-height: 1.2;
}

/* Blocks --------- */

.panel-stage {
	color:#fff;
	line-height: 1.2;
	border: 0 none;
}
.panel-stage-2 {
	background: #f7c841;
}
.panel-stage-3 {
	background: #f07100;
}
.panel-stage-4 {
	background: #c81713;
}
.text-stage-num {
	font-size:70px;
}
.quote {
	border-left: solid 3px #a6d146;
	padding-left:10px !important;
	padding-bottom: 0!important;
}
.panel.quote {
	padding: 15px!important;
}
